h1 Dokumentation till uppgiften 

p Första lektionen så studerade jag filerna som skrivet i uppgiftsbeskrivningen och försökte förstå hur allt funkade och var uppbygt.

p Andra lektionen så började jag med att skapa en sida för att ändra username. Det krånglade lite då jag fick ta bort hårdkoden i app.rb för att få det att funka. Uppgiften var också felkodad i index.slim där else satsen inte funkade som den skulle vilket gav mig lite problem innan jag hittade lösningen.

p Sedan följde jag uppgiftsbeskrivningen och utvecklade note-formuläret med två nya forms för att hämta författaren och en rubruk för notes men sedan strulade det när jag ville få dem att visas i show.slim vilket är sidan man direkteras till efter att man har följt ut formuläret.